html{
    text-align: center;
    background-color: black;
}
h2{
    font-family: 'Anton',sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
}
*{
    color: seashell;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
}
body{
    box-sizing: border-box;
}
img.logo{
    margin: 10px 10px;
    height: 50px;
    margin-right: auto;
}
header{
    align-items: center;
    top: 0;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 69px;
    width: 100%;
    z-index: 1;
}
.logo{
    cursor:pointer
}
li,a, button {
    font-size: 20px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

.navigation li{
    border: none;
    border-radius: 50px;
    padding: 0 20px;
    display: inline-block;
}
.navigation li a{
    transition-duration: 0.3s;
}
.navigation li a:hover{
    color: rgb(216, 128, 69);
}
button{
    margin: 20px 25px;
    background-color: rgb(216, 128, 69);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.3s;
}

button:hover{
    color: rgb(216, 128,69);
    background-color: rgb(255, 255, 255);
}
main{
    display: flex;
    flex-direction: column;
    margin: 70px 20px;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.Container{
    max-width: 100%;
    display: flex;
    margin: 20px;
}
#Mission{
    background-position: center;
    background-image: url(./images/tea-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: flex-start;
}
.center{
    flex-direction: column;
    display: flex;
    width: 1200px;
    height: 100px;
    margin-top: 120px;
    justify-content: center;
}
.center h2{
    font-size: 72px;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
.center h4{
    color: seashell;
}
#Featured-tea{
    max-width: 1100px;
    flex-direction: column;
    display: flex;
    background-color: rgb(0, 0, 0);
}
#Featured-tea h2{
    color: white;
    margin: 10px 0;
}
#Featured-tea h4{
    color: seashell;
    margin: 10px 0;
}

.image-collection{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.images{
    width: 300px;
    height: 200px;
}
#Featured-tea .image-collection .Container{
    display: inline-flex;
    flex-direction: column;
}

#Locations {
    flex-direction: column;
    display: flex;
    max-height: 1200px;
    max-width: 1200px;
    background-image: url(./images/img-locations-background.webp);
    background-size: cover;

}
.top{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 20%;
    align-items: flex-end;
    justify-content: center;
}
.top h2{
    font-weight: bold;
}
.bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.child{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 7px;
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 40px;
    justify-content:space-around
}

#Contacts{
    flex-direction: column;
    height: 200px;
    justify-content:space-between
}
footer p {
    letter-spacing: 1px;
    font-family: 'Anton',sans-serif;
    float: left;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#nav-mobile{
    display: none;
    margin: 10px;
}
#close-nav{
    display: none;
    margin: 10px;
}
.navbar_link .material-icons{
    margin-right: 10px;
}
.navbar_link{
    display: flex;
    padding: 12px;
    align-items: center;
    background-color: rgb(58, 57, 56);
    border-bottom: 1px solid rgb(26, 29, 29);
}
#mobile-navigation{
    box-shadow: 0 0 10px 5px rgb(31, 30, 30);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgb(26, 29, 29);
}
.navbar_link:hover{
    background-color: rgb(44, 43, 43);
    color: aliceblue;
}
@media only screen and (max-width: 900px) {
    header .pc{
        display: none;
    }
    button, nav{
        display: none;
    }
    #nav-mobile{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1000px){
    #nav-mobile{
        display: none;
    }
    #close-nav{
        display: none;
    }
    #mobile-navigation{
        display: none;
    }
    .material-icons{
        display: none;
    }
}